.submission{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px dashed darksalmon;
    background-color: rgb(203, 184, 184);
    padding:  2rem;
    font-size: medium;
    font-weight:bold
}